<sbpro-layout-landing footerClasses="bg-dark footer-dark">
    <sb-top-nav topNavClasses="bg-custom-yellowish navbar-light" brandClasses="text-primary" buttonClasses="btn-primary"></sb-top-nav>

    <!-- <sbpro-page-header headerClasses="bg-img-cover overlay overlay-60 page-header-ui-dark" borderType="rounded" borderClasses="text-yellowish2" backgroundImage="url(https://source.unsplash.com/PTRzqc_h1r4/1600x900)"> -->
    <sbpro-page-header headerClasses="bg-img-cover overlay overlay-60 page-header-ui-dark" borderType="rounded" borderClasses="text-yellowish2" backgroundImage="url(https://source.unsplash.com/PTRzqc_h1r4/1600x900)">
        <div class="page-header-ui-content position-relative">
            <div class="container px-5 text-center">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="page-header-ui-title mb-3">Contact Us</h1>
                        <p class="page-header-ui-text mb-0">Have questions? We're here to help!</p>
                    </div>
                </div>
            </div>
        </div></sbpro-page-header>
    <!-- <sbpro-page-section sectionClasses="py-10 bg-light bg-custom-yellowish" borderType="rounded" borderClasses="text-dark" -->
    <sbpro-page-section sectionClasses="py-10 bg-custom-yellowish2" borderType="rounded" borderClasses="text-dark">
        <div class="container px-5">
            <a class="card post-preview post-preview-featured lift mb-5">
                <div class="row gx-0">
                    <div class="col-lg-5 "><div class="post-preview-featured-img" style="background-image: url('https://source.unsplash.com/vZJdYl5JVXY/660x360')"></div></div>
                    <div class="col-lg-7">
                        <div class="card-body bg-custom-yellowish">
                            <div class="py-5">
                                <h5 class="card-title">Let's do this together.</h5>
                                <h3>Discover how you can use analytics to optimise revenue.</h3>
                                <!-- <button class="btn btn-primary fw-500" data-aos="fade-up" data-aos-delay="100" routerLink="sendmessage">Send us a message</button> -->
                                <button class="btn btn-primary fw-500"  routerLink="sendmessage">Send us a message</button>
                                <p>&nbsp;</p>
                                <h3>LOCATION</h3>
                                <p class="card-text">85D Hobsonville Point Road, Hobsonville, Auckland, New Zealand</p>

                                <h3>CONTACT</h3>
                                <!-- <p class="card-text">phone: <a href="tel:+6495581228">+64 9 558 1228</a></p> -->
                                <p class="card-text">mobile: <a href="tel:+64221575611">+64 22-1575611</a></p>
                                <p class="card-text">email: <a href="mailto:info@myrepsoft.com">info@myrepsoft.com</a></p>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div></a
            >


        </div></sbpro-page-section
    ></sbpro-layout-landing
>
