<sbpro-layout-landing footerClasses="bg-dark footer-dark">
    <sb-top-nav topNavClasses="bg-transparent navbar-light fixed-top" brandClasses="text-white"
        buttonClasses="btn-teal"></sb-top-nav>
    <sbpro-page-header headerClasses="bg-white page-header-ui-light" borderType="rounded" borderClasses="text-light">
        <div class="page-header-ui-content pt-10">
            <div class="container px-5 text-center">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="page-header-ui-title mb-3">About our company</h1>
                        <p class="page-header-ui-text">Our company culture, and how we do things</p>
                    </div>
                </div>
            </div>
        </div>
    </sbpro-page-header>
    <sbpro-page-section sectionClasses="pb-10 bg-light" borderType="rounded" borderClasses="text-dark">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-5 mt-10">

                    <h3 class="mb-4">
                        <div class="icon-stack bg-atomic-tangerine text-white me-2"><i-feather
                                name="arrow-right"></i-feather></div>
                        OUR MISSION
                    </h3>

                    <h5 class="mission">We <span>aim</span> to make you <span>better</span>! Begin with <span>End</span>
                        in mind. Get customized, <span>proactive insights</span> for <span>labor cost efficiency</span>
                        and <span>revenue optimisation</span>.</h5>

                </div>
                <div class="col-lg-7 mt-10">
                    <div>
                        <img width="100%" style="border-radius: 20px;" src="assets/img/demo/team.jpeg" alt="">
                    </div>

                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-5 mt-10">
                    <div>
                        <img width="100%" style="border-radius: 20px;" src="assets/img/demo/team-2.jpeg" alt="">
                    </div>


                </div>
                <div class="col-lg-7 mt-10">
                    <h3 class="mb-4">
                        <div class="icon-stack bg-atomic-tangerine text-white me-2"><i-feather
                                name="arrow-right"></i-feather></div>
                        Repsoft Analytics
                    </h3>

                    <p class="page-header-ui-text-repsoft" style="font-size: 170%; font-weight: 200;">At Repsoft, we understand your needs. We provide business solutions with our own developed platform customized to your needs. <br _ngcontent-ulg-c41=""><br _ngcontent-ulg-c41="">We have over 40 years of combined IT, Accounting and Analytics experience. We boost the confidence of the decision-makers by providing actionable insights of targeted metrics based on real-time data. <br _ngcontent-ulg-c41=""><br _ngcontent-ulg-c41="">Our tool drives operational efficiency and effectiveness that ultimately result to optimized bottom line.</p>

                    <button class="btn btn-teal fw-500 mt-2 "><a href="#learnMore" class="text-white">Learn More</a></button>
                </div>
            </div>
        </div>
    </sbpro-page-section></sbpro-layout-landing>